



.body{
  color: cornflowerblue;
}

.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
    
 
 }

 .Itemtitle{
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  color: white;
}
.Card{
  display: flex;
  margin-top: 100px;
  width: 26%;
  height: 100%;
 align-items: center;
 flex-direction: column;
 background-color:aqua ;
 border-radius: aquamarine 5px;
 border: 2mm ridge rgba(50, 200, 220, 0.798);
 padding:white 10px 10px 10px 10px;
}
.ItemImage{
 height: 2000px;
 width: 5vw;
}

.ItemPrice{
  font-family: 'Inter',sans-serif;
  font-size: 20px;
  color: black;
  align-self: center;
  align-content: center;
}




