



.body{
  color: cornflowerblue;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
justify-content: space-between;
}


 .Itemtitle{
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  color: white;
  align-self:center ;
}
.Card{
  margin-top: 100px;
  width: 18%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
 background-color:aqua ;
 border-radius: aquamarine 5px;
 border: 2mm ridge rgba(50, 200, 220, 0.798);
 padding:white 10px 10px 10px 10px;
}
.ItemImage{
 height: 200px;
 width: 50%;
}

.ItemPrice{
  font-family: 'Inter',sans-serif;
  font-size: 20px;
  color: black;
  align-self: center;
  align-content: center;
}




