

:root{
--black: #80808037;
--gray: #b0afaf9e;
--brightblue: #83ccfa;
--brightpink: #f5c0f5;
}

.monotone{
  --primary: var(--black);
  --secondary: var(--gray);
}
.colored{
--primary:var(--brightpink);
--secondary:var(--brightblue);
}

.body{
  color: cornflowerblue;
}

.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 100% 

}


 .Itemtitle{
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  color: white;
  align-self:center ;
}
.Card{
  margin-top: 50px;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
 background-color:var(--primary) ;
 box-shadow: 0 0 0 0.5rem var(--secondary);
 outline:0.5rem var(--secondary);
 outline-offset: 0.5rem;
 border-radius:10px;
 border: 2mm solid var(--secondary );
 padding:white 10px 10px 10px 10px;
}
.ItemImage{
 height: 200px;
 width: 50%;
}

.ItemPrice{
  font-family: 'Inter',sans-serif;
  font-size: 20px;
  color: black;
  align-self: center;
  align-content: center;
}
#but{
height: 40px;
width: 80px;
margin-top: 10px;
}
.headi{
margin-left: 600px;
font-family: 'Inter', sans-serif;
color: blueviolet
}


